:root {
    --color-1 : #90e88d;
    --color-2 : #8de8b8;
    --color-3 : #8de8e5;
    --color-4 : #8dbee8;
    --color-5 : #8d90e8;
    --color-6 : #b88de8;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display :flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: var(--color-2);
}
header h1{
    font-size: 3rem;
    font-weight: bolder;
}

footer{
    display :flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: var(--color-2);
}
footer p {
    font-size: 1.5rem;
    font-weight: bolder;
}

#container{
    display :flex;
    
}
#container main {
    display :flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}
#container ul{
    list-style: none;
}
#container ul li{
    font-size: 1.2rem;
}

